<!DOCTYPE html>

<div class="container-title">
  <h1>Acerca de mí</h1>
</div>

<div class="container">
  <h2>Habilidades técnicas</h2>
  <p>
    Con una amplia experiencia en el mundo de la programación, he adquirido
    habilidades sólidas en diversos lenguajes y tecnologías. Mi dominio incluye
    lenguajes como Python, JavaScript y Java, así como frameworks populares como
    React, Angular y Spring. Además, tengo experiencia en el desarrollo tanto
    frontend como backend, lo que me permite crear aplicaciones web completas de
    principio a fin. Mi enfoque en la resolución de problemas y mi capacidad
    para aprender rápidamente me han permitido adaptarme a nuevos desafíos con
    facilidad. Además, poseo habilidades avanzadas en el diseño y la
    optimización de bases de datos, así como en el desarrollo de API RESTful.
    Estoy constantemente buscando mejorar mis habilidades y mantenerme al tanto
    de las últimas tendencias tecnológicas para ofrecer soluciones innovadoras y
    de alta calidad.
  </p>
</div>

<div class="container">
  <h2>Experiencia</h2>
  <p>
    Con más de una década de experiencia en la industria de la tecnología, he
    tenido la oportunidad de trabajar en una amplia variedad de proyectos
    emocionantes y desafiantes. He liderado equipos de desarrollo en empresas de
    renombre, donde he gestionado desde pequeñas aplicaciones internas hasta
    plataformas de escala empresarial. Mi experiencia abarca diferentes
    sectores, incluidos el comercio electrónico, la salud y la educación, lo que
    me ha brindado una perspectiva única sobre las necesidades y desafíos de
    cada industria. He participado en proyectos de migración de tecnología,
    implementaciones de soluciones en la nube y desarrollo de productos desde
    cero. Mi enfoque en la colaboración, la comunicación efectiva y la entrega
    de resultados de alta calidad ha sido fundamental para el éxito de cada
    proyecto en el que he participado. Estoy emocionado por seguir creciendo
    profesionalmente y aplicar mis habilidades y experiencia en nuevos y
    emocionantes desafíos en el futuro.
  </p>
</div>
