<!DOCTYPE html>
<div class="container-title">
  <h1>Proyectos</h1>
</div>
<div class="container">
  <h2>Plataforma de E-learning Personalizada</h2>
  <p>
    Lideré un equipo de desarrollo en la creación de una plataforma de
    aprendizaje en línea personalizada para una organización educativa
    internacional. La plataforma permitía a los estudiantes acceder a cursos
    personalizados, realizar seguimiento de su progreso y participar en
    actividades de aprendizaje interactivas. Utilizamos tecnologías modernas
    como React.js para el frontend y Node.js para el backend, asegurando un
    rendimiento óptimo y una experiencia de usuario intuitiva.
  </p>
</div>
<div class="container">
  <h2>Aplicación de Gestión de Proyectos Colaborativa</h2>
  <p>
    Desarrollé una aplicación web colaborativa de gestión de proyectos para un
    equipo de desarrollo ágil. La aplicación permitía a los miembros del equipo
    crear tareas, asignarlas a colegas, establecer fechas límite y realizar un
    seguimiento del progreso en tiempo real. Utilizamos tecnologías como Angular
    para el frontend y Firebase como base de datos en tiempo real, lo que
    permitió una colaboración fluida y una comunicación eficiente dentro del
    equipo.
  </p>
</div>
<div class="container">
  <h2>Plataforma de Comercio Electrónico Escalable</h2>
  <p>
    Colaboré en el desarrollo de una plataforma de comercio electrónico
    escalable para una empresa de venta minorista en línea. La plataforma
    permitía a los usuarios buscar y comprar una amplia variedad de productos,
    así como gestionar sus pedidos y perfiles de usuario. Utilizamos tecnologías
    como Laravel para el backend y Vue.js para el frontend, implementando
    funciones avanzadas como la gestión de inventario y el procesamiento de
    pagos en línea para proporcionar una experiencia de compra sin problemas
    para los clientes.
  </p>
</div>
