<!DOCTYPE html>
<nav class="navbar">
  <h1>Martin Becerra</h1>
  <a href="/">Inicio</a>
  <a href="/about">Acerca de mí</a>
  <a href="/projects">Proyectos</a>
  <a href="/contact">Contacto</a>
</nav>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="footer-content">
    <p>2024 Todos los derechos reservados.</p>
    <div class="footer-links">
      <a href="mailto:martin.becerra@alumnos.ucn.cl" target="_blank">
        <img src="assets/gmail.png" alt="Gmail" />
      </a>
      <a href="https://github.com/xSharkz" target="_blank">
        <img src="assets/github.png" alt="GitHub" />
      </a>
    </div>
  </div>
</footer>
