<!DOCTYPE html>
<nav class="navbar">
  <h1>Martin Becerra</h1>
  <a href="/">Inicio</a>
  <a href="/about">Acerca de mí</a>
  <a href="/projects">Proyectos</a>
  <a href="/contact">Contacto</a>
</nav>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="footer-content">
    <p>&copy; 2024 Ignacio Bugueño. Todos los derechos reservados.</p>
    <div class="footer-links">
      <a href="https://www.linkedin.com/in/ignacio-bugueño" target="_blank">
        <img src="assets/linkedin.png" alt="LinkedIn" />
      </a>
      <a href="https://github.com/grenzya" target="_blank">
        <img src="assets/github.png" alt="GitHub" />
      </a>
      <a href="mailto:ignacio.bugueno02@alumnos.ucn.cl" target="_blank">
        <img src="assets/gmail.png" alt="gmail" />
      </a>
    </div>
  </div>
</footer>
