<!DOCTYPE html>

<body class="body-home">
  <div class="container-title">
    <h1>Bienvenido</h1>
  </div>
  <div class="container">
    <img src="../assets/hero.png" alt="Imagen Personal" />
    <div class="inner-container"></div>
    <h2>Ingeniero de Software - Full stack</h2>
    <p>
      Apasionado por la programación y la tecnología, cuento con una sólida
      experiencia en el desarrollo de software. Desde aplicaciones móviles hasta
      sistemas web complejos, he participado en una variedad de proyectos que me
      han permitido desarrollar habilidades técnicas y conocimientos profundos
      en diferentes áreas de la informática.
    </p>
  </div>
</body>
