<!DOCTYPE html>

<body class="body-home">
  <div class="container-title">
    <h1>Bienvenido, mi nombre es Martin Becerra</h1>
  </div>
  <div class="container">
    <img src="../assets/hero.png" alt="Imagen Personal" />
    <div class="inner-container"></div>
    <h2>Ingeniero de Software - Full stack</h2>
    <p>
      +15 años de experiencia. Ingeniero de Software y Creador de Contenido
      sobre Programación de Barcelona, España. Especializado en el desarrollo de
      aplicaciones web únicas.
    </p>
  </div>
</body>
